*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0b1120;
    color:#ffffff;
}
body{
    background:#0b1120;
    color:white;
    font-family:Poppins,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
